/* CARD */

.card {
    font-size: 5rem;
    background-color: #ffffff;
    color: #000000;
    padding: none;
  }
  
  .card2 {
    font-size: 10rem;
    background-color: #ffffff;
    color: #000000;
    padding: none;
  }
  
  .red {
    color: #ff0000
  }
  
  .pseudo {
    background-color: #000000;
    color: #008000;
  }
  