{% extends "base.html.twig" %}

{% block title %}Twenty-One{% endblock %}

{% block body %}
{# {% include "card/card_nav.html.twig" %} #}
<h1>British Twenty-One!</h1>

<p>Welcome to Twenty-One!</p>

<p>Please read the rules carefully before you begin:</p>
<ul>
    <li>The Player is dealt a card and is shown on the board.</li>
    <li>The Player can either "stick" which means that they stay with the
    cards in their hand or the can "twist" which means they can take another one.</li>
    <li>Play continues until the Player sticks or the Player's hand goes over 21.</li>
    <li>It is then the Banker's turn.</li>
    <li>The Banker wins if they get the same as or more points than the Player</li>
    <li>The Player wins if the Banker gets more than 21.</li>
    <li>Aces are worth 1 or 11.</li>
    <li>Picture cards (Jack, Queen, and King) are worth 10 points each.</li>
</ul>
<button><a href="{{ path('game_doc') }}">Documentation</a></button>
<button><a href="{{ path('game_play') }}">Let's Play!</a></button>


{% endblock %}
