body {
    background-color: #F2DEA0;
    margin: 0 auto;
    font-family: 'EB Garamond', serif;
    /* max-width: 400px; */
    overflow: auto;
}

main {
    margin: 0 auto;
    max-width: 480px;
}

h1 {
    border-bottom: 4px double #ccc;
}

.site-header {
    height: 100px;
    background-size: cover;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-color: #260101;
}

.site-title {
    font-size: 2em;
    font-weight: 800;
}

img {
    float: left;
    margin: 5px;
    width: 180px;
    height: auto;
}

.myimg {
    width: 100%;
    height: auto;
}

p {
  text-align: justify;
  overflow: auto;
}

/* SITE SPECIFIC */

.parent {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.child {
    flex-basis: 50%;
}

.lucky {
    font-size: 2rem;
    text-align: center;
} 

.lucky-number {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
} 

/* NAVBAR */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #591202;
    text-align: center;
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.nav li a:hover {
    background-color: #8C3A1C;
  }

/* FOOTER */

.footer {
    height: 75px;
    background-color: #591202;
    color: #F2CB9B;
    font-weight: 800;
    border-top-width: 2px;
    border-top-color: #260101;
    padding: 5px;
}

/* CARD */

.card {
  font-size: 5rem;
  background-color: #ffffff;
  color: #000000;
  padding: none;
}

.card2 {
  font-size: 10rem;
  background-color: #ffffff;
  color: #000000;
  padding: none;
}

.red {
  color: #ff0000
}

.pseudo {
  background-color: #000000;
  color: #008000;
}


/* NAVCARD */

.nav-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008000;
  text-align: center;
}

.nav-card li {
  float: left;
}

.nav-card li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-card li a:hover {
  background-color: #8C3A1C;
}


.info {
  width: 400px;
  height: 50px;
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #FFF484;
  border-color: #DCC600;
}

.button {
  background-color: #591202;
  color: #F2DEA0; 
  border: none;
  font-size: 18px;
  /* font-family: Georgia, serif; */
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  text-decoration: none;
  margin: 5px;
}

.button a:link { text-decoration: none;color: #F2DEA0;  }
.button a:visited { text-decoration: none;color: #F2DEA0;  }
.button a:hover { text-decoration: none;color: #F2DEA0;  }
.button a:active { text-decoration: none;color: #F2DEA0;  }

.box {
  background-color: #F2DEA0;
  border: 5px solid #8C3A1C;
  color: #8C3A1C;
  font-family: Georgia, serif;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.box h2 {
  margin-top: 0;
  text-align: center;
}

.box p {
  font-size: 18px;
  margin-bottom: 0;
  text-align: center;
}

.box .points {
  color: #591202;
  font-size: 18px;
  text-align: center;
}

.gameForm {
  text-align: center;
}

.decision {
  font-style: italic;
  font-size: 18px;
}
/* COLOUR PALETTE */
/* #F2DEA0
#F2CB9B
#8C3A1C
#591202
#260101 */