{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <a href="{{ asset('img/me.png') }}">
        <img src="{{ asset('img/me.png') }}" alt="" class="me">
    </a>
    <p>My name is Zachary Mooney and I am currently studying two packages at <i>Blekinge Tekniska Högskola</i> - <i>Webbprogrammering och databaser</i> and <i>Webbutveckling och programmering</i>.</p>
    <p>Originally from the United Kingdom, I moved to Sweden a few years ago to settle down with my wife and two children. 
    I have decided to change career direction and pursue web and software development.</p>
{% endblock %}