{% extends "base.html.twig" %}

{% block title %}Quote of the Day{% endblock %}

{% block body %}
    <h1>Quote of the Day</h1>
    <p>{{today}}</p>
    <p>{{timestamp}}</p>
    <p>{{quote}}</p>
{% endblock %}