{% extends "project/base.html.twig" %}

{% block title %}Database{% endblock %}

{% block body %}
    <h1 class="proj-header">ORM and Databases</h1>
    
    <p>This is all about that database</p>
{% endblock %}
