{% extends "project/base.html.twig" %}

{% block title %}Reduced Inequalities{% endblock %}

{% block body %}
    <h1 class="proj-header">Reduced Inequalities</h1>
    
    <p>This section will focus on economic equality in Sweden in relation to the UN Global Goal 10 - <i>Reduced Inequalities</i>. The main source of data for this page can be found on SCB's website concerning <a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/pong/tabell-och-diagram/agenda-2030-lagesbild-2020--tabellbilagor2/">Agenda 2030</a>. 
    Although the <a href="https://www.scb.se/contentassets/c9a909d7121b4968ad0324c20abe1d4f/okad-ekonomisk-jamlikhet.xlsx">data</a> used covers a range of different areas such as low income standards, long-time economic assistance, and indebtedness, this section will focus on low economic standards.</p>
    <p>SCB define low economic standards as a person living in a household that has disposable income less than 60% of the median in Sweden. Please note that the data focuses primarily on the differences between those born inside and outside of Sweden.</p>
    <p>It is to be noted that low economic standards is only one way to measure equality and other factors or social support can mitigate any inequalities that is shown by this dataset.</p>

    {{ render_chart(povertyCountries, {'class': 'my-chart'}) }}

    <p>The above chart shows the gradual improvement over time in the percentage of people who live in low economic standards. The chart above shows the data by which area of the world the individual was born.</p>
    <p>Regrettably, there is only data available for an eight year period. Although there is little change in terms of a convergence of different regional groups, we see a stark improvement for those who were born in Africa, Asia, and "other" countries.</p>
    <p>In groups where there are lower levels of economic hardship, improvement has either stagnated or is non-existent. For those born in the Nordics (outside of Sweden), 18.1% are living in low economic stands in 2011, whilst 18.8% were in 2018.</p>
    <p>This could be indicative of a convergence of those born in Sweden and Europe with the rest of the world, but this would also suggest a widening economic disparity within Sweden itself.</p>.

    <p>If we look at differences in gender instead, we can see that, again, there has been very little change in the last eight years, but there is a clear gender difference. Women are more likely to live in a household that is deemed as having "low economic standards".</p>
    
    {{ render_chart(bothSexesLine, {'class': 'my-chart'}) }}

    <p>If we take the latest figures from 2018, we can take a look at the chart below at the differences for different age groups across both genders.</p>
    <p>The differences between the genders are generally equal amongst those who are of working age. 
    Those who are in younger age groups tend to be poorer since they may be at the beginning of their careers therefore they may have access to lower levels of income.</p>
    <p>A stark gender difference can be seen for those hitting retirement - possibly resulting from a death of a spouse and/or historical gender differences in income.</p>
    <p>Curiously, the 0-5 age group also has higher percentage of those living in "low economic standards", which is not clearly seen in age groups of what would be their parents' age. More research needs to be carried out to understand what has resulted in this level.</p>

     {{ render_chart(ageGender2018, {'class': 'my-chart'}) }}

{% endblock %}
